/***************************
 * Styles                  *
 *                         *
 * Kenny Lin               *
 * HackPrinceton Fall 2013 *
 * November 10, 2013       *
 ***************************/

html {
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}
